%p#notice= notice

%p
  %b Wine:
  = @bottling.wine.name
%p
  %b Bottle size:
  = @bottling.bottle_size
%p
  %b Warehouse location:
  = @bottling.warehouse_location

%h3 Inventory
.inventory
  = render :partial => "bottlings/inventory_table", :locals => { :bottlings => [@bottling] }

= link_to 'Edit', edit_bottling_path(@bottling)
\|
= link_to 'Back', bottlings_path
