= javascript_include_tag "nested_form"
= simple_nested_form_for(@inventory_withdrawal, :html => {:class => 'form-vertical' }) do |f|
  -if @inventory_withdrawal.errors.any?
    .alert.alert-error
      %h4= "#{pluralize(@inventory_withdrawal.errors.count, "error")} prohibited this inventory_withdrawal from being saved:"
      %ul
        - @inventory_withdrawal.errors.full_messages.each do |msg|
          %li= msg

  = f.input :date, :as => :date, :input_html => { :class => "input-small" }
  = f.input :category, :collection => InventoryWithdrawal::TYPES, :prompt => "select...", :input_html => { :class => "input-small" }
  = f.input :notes, :as => :text, :input_html => { :rows => 2 }

  .actions
    = f.link_to_add '<i class="icon-plus icon-white"></i> Add Item'.html_safe, :inventory_withdrawal_items, :class => "btn btn-primary"
    = save_button

  .above_new_items
  = f.simple_fields_for :inventory_withdrawal_items