= nested_form_for @inventory_withdrawal do |f|
  -if @inventory_withdrawal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inventory_withdrawal.errors.count, "error")} prohibited this inventory_withdrawal from being saved:"
      %ul
        - @inventory_withdrawal.errors.full_messages.each do |msg|
          %li= msg

  %span
    = f.label :date
    = f.date_select :date
  %span
    = f.label :category
    = select("inventory_withdrawal", "category", InventoryWithdrawal::TYPES)
  .notes
    = f.label :notes
    = f.text_area :notes, :rows => 2  
  .actions
    = f.link_to_add "Add Item", :inventory_withdrawal_items
    = f.submit 'Save'
    &nbsp;&nbsp;
    = link_to 'Back', inventory_withdrawals_path

  %p.before_items     
  = f.fields_for :inventory_withdrawal_items
        

