%p#notice= notice

%p
  %b Date:
  = @inventory_withdrawal.date
%p
  %b Category:
  = @inventory_withdrawal.category
%p
  %b Notes:
  = @inventory_withdrawal.notes

%table
  %tr
    %th Quantity
    %th Wine
    %th Bottle

  - @inventory_withdrawal.inventory_withdrawal_items.each do |inventory_withdrawal_item|
    - puts inventory_withdrawal_item.inspect
    %tr
      %td= inventory_withdrawal_item.quantity
      %td= inventory_withdrawal_item.bottling.wine.name
      %td= inventory_withdrawal_item.bottling.bottle_size
%br        
= link_to 'Edit', edit_inventory_withdrawal_path(@inventory_withdrawal)
\|
= link_to 'Back', inventory_withdrawals_path
