%h1 Producers

= link_to 'New Producer', new_producer_path
%br
%br

.row
  %table.table.table-condensed.table-striped.span10
    %tr
      %th Name
      %th Email
      %th Phone
      %th Address
      %th.span2

    - @producers.each do |producer|
      %tr
        %td= producer.name
        %td= producer.email
        %td= producer.phone
        %td= producer.address
        %td
          = link_to 'View', producer
          \/
          = link_to 'Edit', edit_producer_path(producer)
          \/
          = link_to 'Delete', producer, :confirm => 'Are you sure?', :method => :delete
  = will_paginate @producers