%h1 Wines

= link_to 'New Wine', new_wine_path
%br
%br

.row
  %table.table.table-condensed.table-striped.span9
    %tr
      %th= sort_link("Vintage", :vintage)
      %th= sort_link("Name", :name)
      %th Producer
      %th Appellation
      %th.span2

    - @wines.each do |wine|
      %tr
        %td= wine.display_vintage
        %td= wine.name
        %td= wine.producer.name
        %td= wine.appellation
        %td
          = link_to 'View', wine
          \/
          = link_to 'Edit', edit_wine_path(wine)
          \/
          = link_to 'Delete', wine, :confirm => 'Are you sure?', :method => :delete
  = will_paginate @wines