%p#notice= notice

%p
  %b Name:
  = @wine.name
%p
  %b Vintage:
  = @wine.display_vintage
%p
  %b Producer:
  = @wine.producer.name
%p
  %b Appellation:
  = @wine.appellation
%p
  %b Notes:
  = @wine.notes

%b Inventory:
.inventory
  - @bottlings.each do |bottling|
    .bottling
      %span= "#{bottling.bottle_size} - #{bottling.sku}"
      %br
      = inventory_table(bottling)

= link_to 'Edit', edit_wine_path(@wine)
\|
= link_to 'Back', wines_path
