%p#notice= notice

%h1 #{@wine.display_vintage} #{@wine.name}
%h2 #{@wine.producer.name}, #{@wine.appellation}
%h3 Notes
%p.notes= @wine.notes

%h3 Inventory
.inventory
  - @bottlings.each do |bottling|
    .bottling
      %span= "#{bottling.bottle_size} - #{bottling.sku}"
      %br
      = inventory_table(bottling)

= link_to 'Edit', edit_wine_path(@wine)
\|
= link_to 'Back', wines_path
